In [1]:
stmts = []
insert_stmt_std = 'INSERT INTO tname_\n VALUES (params);'
insert_stmt_attr = 'INSERT INTO tname(attrtibutes_) VALUES (params);'

In [2]:
table_name = 'Student'
attrs = ['name', 'student_id', 'personal_id', 'gender', 'Dept.', 'grade', 'class', 'avg_score', 'car_no.','professor']
types = ['varchar','int', 'int', 'varchar', 'varchar', 'int', 'varchar', 'int', 'int', 'varchar']
varchar_len = [10, 0, 0, 1, 40, 0, 1, 0, 0, 20]

In [3]:
from random import randint
import random
create_table_stmt = 'CREATE TABLE tname_ (params);'
params = ""

for i in range(10):
    params += attrs[i] + ' '
    if(types[i] == 'varchar'):
        params += types[i] + '(' + str(varchar_len[i]) + ')'
    else:
        params += types[i]
    
    if(attrs[i] == 'student_id'):
        params += " PRIMARY KEY"
    
    if(i!=9):
        params += ','

stmts.append(create_table_stmt.replace('tname_', table_name).replace('params',params))

In [4]:
print(stmts)

['CREATE TABLE Student (name varchar(10),student_id int PRIMARY KEY,personal_id int,gender varchar(1),Dept. varchar(40),grade int,class varchar(1),avg_score int,car_no. int,professor varchar(20));']

In [ ]:
params = []

def gen_str(int X):
    return ''.join(random.choice(string.lowercase) for x in range(X))

for i in range(5000):